<h2>注文情報入力</h2>

<h3>支払方法</h3>

<%= form_with model:@order, url: orders_comfirm_path, local:true do |f| %>
<p>
  <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
  <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
</p>
<p>
  <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
  <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>
</p>

<h3>お届け先</h3>
<p>
  <%= f.radio_button :address_id, ":name, :postal_code, :address" %>
  <%= f.label :address_id, "ご自身の住所" %><br>
  <%= current_customer.full_address %>
</p>
<p>
  <%= f.radio_button :address_id, ":name, :postal_code, :address" %>
  <%= f.label :address_id, "登録済住所から選択" %><br>
  <%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :full_address) %>
</p>
<p>
  <%= f.radio_button :address_id, ":name, :postal_code, :address" %>
  <%= f.label :address_id, "新しいお届け先" %>
  <table>
  <tr>
    <td>郵便番号(ハイフンなし)</td>
    <td><%= f.text_field :postal_code %></td>
  </tr>
  <tr>
    <td>住所</td>
    <td><%= f.text_field :address %></td>
  </tr>
  <tr>
    <td>宛名</td>
    <td><%= f.text_field :name %></td>
  </tr>
</table>
</p>

 <%= f.submit '確認画面へ進む' %>
<% end %>
